#!/bin/sh

source $HOME/.bashrc

gpg --recv 0xd9edd5b426073912 
echo -e "5\ny\n" | gpg --command-fd 0 --edit-key 0xd9edd5b426073912 trust

{{ if eq .chezmoi.osRelease.id "fedora" }}
  grep -qF 'fastestmirror=1' /etc/dnf/dnf.conf || echo 'fastestmirror=1' | sudo tee -a /etc/dnf/dnf.conf
  grep -qF 'max_parallel_downloads=10' /etc/dnf/dnf.conf || echo 'max_parallel_downloads=10' | sudo tee -a /etc/dnf/dnf.conf

  sudo dnf install -y \
    "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm" \
    "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm"
    
  sudo dnf group install -y \
    'Fonts' \
    'Development Tools'

  sudo dnf install -y \
    ffmpeg \
    pass \
    fzf \
    neovim \
    firefox \
    git 
{{ end -}}
 

if [ ! -d "$HOME/.password-store" ]
then 
  git clone ssh://git@github.com/chrisharper/password-store $HOME/.password-store
fi

pip3 install neovim-remote

cd $HOME/.local/share/chezmoi
git remote set-url origin ssh://git@github.com/chrisharper/dotfiles 


